# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src/
		- tests/
	autoload_files:
		- vendor/autoload.php
	ignoreErrors:
		-
			message: '/^Parameter #1 \$function of function call_user_func_array expects callable/'
			path: src/Adapter/Pagination/PaginableCriteria.php
		- '/^Static method Webmozart\\Assert\\Assert::allOneOf\(\) invoked with 3 parameters, 1-2 required.$/'
