includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - %rootDir%/../phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - pkg/collection/src/
        - pkg/command-bus/src/
        - pkg/common/src/
        - pkg/container/src/
        - pkg/criteria/src/
        - pkg/data-source/src/
        - pkg/type/src/
        - pkg/value-object/src/
        - pkg/laminas-hydrator-bridge/src/
    ignoreErrors:
        - '/^Unsafe usage of new static/'
        - '/^Property Warp\\CommandBus\\Mapping\\ClassName\\ReplacementClassNameMapping::\$replace \(array\<string\>\|string\) does not accept array\<string\>\|string\|null.$/'
        - '/^Method Warp\\CommandBus\\CommandBus::createCommandHandler\(\) should return callable\(\): mixed but returns array\(object, string\).$/'
        - '/expects callable(.*) array(.*) given\.$/'
        -
            message: '/^If condition is always false\.$/'
            paths:
                - pkg/container/src/ContainerChain.php
                - pkg/container/src/Argument/ArgumentValue.php
        - '/^Method (.*) should return static\((.*)\) but returns (.*)\.$/'
        -
            message: '/^If condition is always false\.$/'
            path: pkg/criteria/src/Adapter/*
        - '/^PHPDoc tag \@return with type string\|(.*)\|null is not subtype of native type string\|null\.$/'
        - '/^Call to an undefined method Cycle\\ORM\\RepositoryInterface::select\(\)\.$/'
        - '/^Parameter #2 \$class of static method Webmozart\\Assert\\Assert::isInstanceOf\(\) expects class-string\<object\>, (.*) given.$/'
        -
            message: '/^If condition is always false\.$/'
            paths:
                - pkg/data-source/src/Adapters/*
                - pkg/data-source/src/Bridge/CycleOrm/Mapper/Hydrator/StdClassHydrator.php
        - '/^Method (.*)::create\(\) should return (.*) but returns Warp\\Type\\TypeInterface.$/'
        -
            message: '/^Cannot call method make\(\) on Warp\\Type\\Factory\\TypeFactoryInterface\|null.$/'
            path: pkg/type/src/Factory/*.php
        - '/^PHPDoc tag \@param for parameter (.*) with type string\|(.*) is not subtype of native type string.$/'
        -
            message: '/^Call to an undefined method object::value\(\).$/'
            path: pkg/value-object/src/Bridge/LaminasHydrator/ValueObjectStrategy.php
        -
            message: '/^If condition is always false\.$/'
            paths:
                - pkg/value-object/src/Integrations/*
                - pkg/value-object/src/Bridge/LaminasHydrator/BooleanStrategy.php
                - pkg/value-object/src/Bridge/LaminasHydrator/NullableStrategy.php
        -
            message: '/^Call to an undefined static method Dotenv\\Repository\\RepositoryBuilder::create\(\)\.$/'
            path: pkg/common/src/Env/env.php
        -
            message: '/^If condition is always false\.$/'
            paths:
                - pkg/command-bus/src/Bridge/PsrLog/LoggerMiddlewareMessagePredicate.php
                - pkg/command-bus/src/Bridge/PsrLog/MayBeLoggedMessage.php
                - pkg/command-bus/src/Bridge/SymfonyStopwatch/MayBeProfiledMessage.php
                - pkg/command-bus/src/Bridge/SymfonyStopwatch/ProfilerMiddlewareMessagePredicate.php
                - pkg/command-bus/src/Exception.php
                - pkg/command-bus/src/Mapping/CommandToHandlerMapping.php
                - pkg/command-bus/src/Middleware.php
                - pkg/type/src/Type.php
        - '/^Class (.*) extends \@final class/'
