parameters:
	ignoreErrors:
		-
			message: "#^Property spaceonfire\\\\Collection\\\\Iterator\\\\ArrayCacheIterator\\<K of \\(int\\|string\\),V\\>\\:\\:\\$array \\(array\\<K of \\(int\\|string\\), V\\>\\) does not accept array\\.$#"
			count: 1
			path: pkg/collection/src/Iterator/ArrayCacheIterator.php

		-
			message: "#^Parameter \\#1 \\$commandClass of method spaceonfire\\\\CommandBus\\\\Mapping\\\\ClassName\\\\ClassNameMappingInterface\\:\\:getClassName\\(\\) expects class\\-string, string given\\.$#"
			count: 1
			path: pkg/command-bus/src/Mapping/ClassName/ClassNameMappingChain.php

		-
			message: "#^Method spaceonfire\\\\CommandBus\\\\Mapping\\\\ClassName\\\\ReplacementClassNameMapping\\:\\:getClassName\\(\\) should return class\\-string but returns string\\.$#"
			count: 1
			path: pkg/command-bus/src/Mapping/ClassName/ReplacementClassNameMapping.php

		-
			message: "#^Method spaceonfire\\\\CommandBus\\\\Mapping\\\\ClassName\\\\SuffixClassNameMapping\\:\\:getClassName\\(\\) should return class\\-string but returns string\\.$#"
			count: 1
			path: pkg/command-bus/src/Mapping/ClassName/SuffixClassNameMapping.php

		-
			message: "#^Parameter \\#1 \\$callable of method spaceonfire\\\\Container\\\\InvokerInterface\\:\\:invoke\\(\\) expects callable\\(\\)\\: mixed, array\\(T of object, string\\) given\\.$#"
			count: 1
			path: pkg/container/src/Factory/Reflection/ReflectionFactory.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(spaceonfire\\\\Criteria\\\\Expression\\\\ExpressionFactory, string\\) given\\.$#"
			count: 1
			path: pkg/criteria/src/Expression/AbstractExpressionDecorator.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\('Webmozart\\\\\\\\Expression\\\\\\\\Expr', string\\) given\\.$#"
			count: 1
			path: pkg/criteria/src/Expression/ExpressionFactory.php

		-
			message: "#^Method spaceonfire\\\\Bridge\\\\Cycle\\\\CycleEntityManager\\:\\:getPersister\\(\\) should return spaceonfire\\\\DataSource\\\\EntityPersisterInterface\\<E of object\\> but returns spaceonfire\\\\Bridge\\\\Cycle\\\\CycleEntityPersister\\<object\\>\\.$#"
			count: 1
			path: pkg/cycle-bridge/src/CycleEntityManager.php

