<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="phpunit-bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="collection">
            <directory>pkg/collection/tests</directory>
        </testsuite>
        <testsuite name="command-bus">
            <directory>pkg/command-bus/tests</directory>
        </testsuite>
        <testsuite name="common">
            <directory>pkg/common/tests</directory>
        </testsuite>
        <testsuite name="container">
            <directory>pkg/container/tests</directory>
        </testsuite>
        <testsuite name="criteria">
            <directory>pkg/criteria/tests</directory>
        </testsuite>
        <testsuite name="data-source">
            <directory>pkg/data-source/tests</directory>
        </testsuite>
        <testsuite name="laminas-hydrator-bridge">
            <directory>pkg/laminas-hydrator-bridge/tests</directory>
        </testsuite>
        <testsuite name="monolog-bridge">
            <directory>pkg/monolog-bridge/tests</directory>
        </testsuite>
        <testsuite name="type">
            <directory>pkg/type/tests</directory>
        </testsuite>
        <testsuite name="value-object">
            <directory>pkg/value-object/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">pkg/collection/src/</directory>
            <directory suffix=".php">pkg/command-bus/src/</directory>
            <directory suffix=".php">pkg/common/src/</directory>
            <directory suffix=".php">pkg/container/src/</directory>
            <directory suffix=".php">pkg/criteria/src/</directory>
            <directory suffix=".php">pkg/data-source/src/</directory>
            <directory suffix=".php">pkg/laminas-hydrator-bridge/src/</directory>
            <directory suffix=".php">pkg/monolog-bridge/src/</directory>
            <directory suffix=".php">pkg/type/src/</directory>
            <directory suffix=".php">pkg/value-object/src/</directory>
            <exclude>
                <file>pkg/container/src/ContainerChain.php</file>
                <file>pkg/container/src/Argument/ArgumentValue.php</file>
                <directory>pkg/criteria/src/Adapter/</directory>
                <directory>pkg/data-source/src/Adapters/</directory>
                <file>pkg/data-source/src/Bridge/CycleOrm/Mapper/Hydrator/StdClassHydrator.php</file>
                <directory>pkg/value-object/src/Integrations/</directory>
                <file>pkg/value-object/src/Bridge/LaminasHydrator/BooleanStrategy.php</file>
                <file>pkg/value-object/src/Bridge/LaminasHydrator/NullableStrategy.php</file>
                <file>pkg/command-bus/src/Bridge/PsrLog/LoggerMiddlewareMessagePredicate.php</file>
                <file>pkg/command-bus/src/Bridge/PsrLog/MayBeLoggedMessage.php</file>
                <file>pkg/command-bus/src/Bridge/SymfonyStopwatch/MayBeProfiledMessage.php</file>
                <file>pkg/command-bus/src/Bridge/SymfonyStopwatch/ProfilerMiddlewareMessagePredicate.php</file>
                <file>pkg/command-bus/src/Exception.php</file>
                <file>pkg/command-bus/src/Mapping/CommandToHandlerMapping.php</file>
                <file>pkg/command-bus/src/Middleware.php</file>
                <file>pkg/type/src/Type.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/phpunit/report.junit.xml"/>
        <log type="coverage-html" target="build/phpunit/coverage"/>
        <log type="coverage-text" target="build/phpunit/coverage.txt"/>
        <log type="coverage-clover" target="build/phpunit/clover.xml"/>
    </logging>
</phpunit>
