<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="phpunit-bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="clock">
            <directory>pkg/clock/tests</directory>
        </testsuite>
        <testsuite name="collection">
            <directory>pkg/collection/tests</directory>
        </testsuite>
        <testsuite name="command-bus">
            <directory>pkg/command-bus/tests</directory>
        </testsuite>
        <testsuite name="common">
            <directory>pkg/common/tests</directory>
        </testsuite>
        <testsuite name="container">
            <directory>pkg/container/tests</directory>
        </testsuite>
        <testsuite name="criteria">
            <directory>pkg/criteria/tests</directory>
        </testsuite>
        <testsuite name="cycle-bridge">
            <directory>pkg/cycle-bridge/tests</directory>
        </testsuite>
        <testsuite name="data-source">
            <directory>pkg/data-source/tests</directory>
        </testsuite>
        <testsuite name="exception">
            <directory>pkg/exception/tests</directory>
        </testsuite>
        <testsuite name="laminas-hydrator-bridge">
            <directory>pkg/laminas-hydrator-bridge/tests</directory>
        </testsuite>
        <testsuite name="monolog-bridge">
            <directory>pkg/monolog-bridge/tests</directory>
        </testsuite>
        <testsuite name="type">
            <directory>pkg/type/tests</directory>
        </testsuite>
        <testsuite name="value-object">
            <directory>pkg/value-object/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">pkg/clock/src/</directory>
            <directory suffix=".php">pkg/collection/src/</directory>
            <directory suffix=".php">pkg/command-bus/src/</directory>
            <directory suffix=".php">pkg/common/src/</directory>
            <directory suffix=".php">pkg/container/src/</directory>
            <directory suffix=".php">pkg/criteria/src/</directory>
            <directory suffix=".php">pkg/cycle-bridge/src/</directory>
            <directory suffix=".php">pkg/data-source/src/</directory>
            <directory suffix=".php">pkg/exception/src/</directory>
            <directory suffix=".php">pkg/laminas-hydrator-bridge/src/</directory>
            <directory suffix=".php">pkg/monolog-bridge/src/</directory>
            <directory suffix=".php">pkg/type/src/</directory>
            <directory suffix=".php">pkg/value-object/src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/phpunit/report.junit.xml"/>
        <log type="coverage-html" target="build/phpunit/coverage"/>
        <log type="coverage-text" target="build/phpunit/coverage.txt"/>
        <log type="coverage-clover" target="build/phpunit/clover.xml"/>
    </logging>
</phpunit>
