# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src/
	autoload_files:
		- vendor/autoload.php
	ignoreErrors:
		- '/^Property spaceonfire\\CommandBus\\Mapping\\ClassName\\ReplacementClassNameMapping::\$replace \(array\<string\>\|string\) does not accept array\<string\>\|string\|null.$/'
		- '/^Method spaceonfire\\CommandBus\\CommandBus::createCommandHandler\(\) should return callable\(\): mixed but returns array\(object, string\).$/'
