# Start command: composer install && composer dump-autoload --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- %rootDir%/../phpstan-webmozart-assert/extension.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		-
			message: '/^Parameter #3 \$length of function substr expects int/'
			path: src/CollectionType.php
